@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}

.side-bar {
  width: 20vw;
  background-color: #feefc3;
}

.title-icon {
  margin: 15px 15px 30px 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
}

.sidebar-button-container {
  display: flex;
  padding: 5px 0 5px 16px;
  align-items: center;
  border-left: 4px solid #feefc3;
  margin: 35px 0 35px 0;
  cursor: pointer;
}
.sidebar-button-container:hover {
  border-left: 4px solid #4b0dba;
  color: #4b0dba;
}

.sidebar-button-icon:hover {
  color: #4b0dba;
}

.sidebar-button-container > p {
  font-weight: 1000;
  padding-left: 10px;
  margin-bottom: 0px;
}

.headers {
  display: flex;
  justify-content: end;
  width: 80vw;
  border-bottom: 1px solid #f1f3f4;
}
.header-container > h3 {
  padding: 0px 0px 0px 10px;
  font-weight: 300;
  margin-bottom: 0px;
}

.header-container {
  display: flex;
  padding: 20px;
  align-items: center;
}

.children-container {
  height: 86vh;
}

.transaction-table {
  height: 80%;
  margin: 20px;
}

.dashboard-net {
  display: flex;
  justify-content: space-around;
  color: #f1f3f4;
}

.dashboard-net > div {
  padding: 15px 30px 5px 30px;
  background-color: black;
  font-weight: 900;
  text-align: center;
  border-radius: 5px;
}
.dashboard-net-2 {
  color: #f1f3f4;
  background-color: black;
  padding: 15px 0px 5px 0px;
  margin: 10px 20px 0 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: 1000;
}

.doshboard-history-div {
  display: flex;
  background-color: black;
  color: #f1f3f4;
  font-weight: 1000;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.min-max {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
